@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "DVG Clientes";
}
<div class="text-center">
    <h1 class="display-4">DVG Clientes</h1>
    <p>Cadastro e Lista de Clientes</p>
    <div>
        <p>
             <a class="nav-link text-dark" asp-area="" asp-controller="Cliente" asp-action="CadCliente">Cadastro de Cliente</a>
        </p>
    </div>

</div>
